<div id="feature" class="floatLeft">
  <div id="featureHeading">
    <h1 class="floatLeft">Add New Books</h1>
    <div class="clear"></div>
  </div>

  <%= form_with url: import_books_path, multipart: true, local: true do |f| %>
  <div>
    <%= f.file_field :file, accept: ".csv" %>
  </div>
  <div>
    <%= f.submit "Import CSV" %>
  </div>
<% end %>
<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>
<% if flash[:alert] %>
  <p class="alert"><%= flash[:alert] %></p>
<% end %>

</div>
